<included>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../log/attestCovid.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <!--  ATTENTION cette config est dans replace.pattern -->
            <fileNamePattern>../log/attestCovid.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>90</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{0}.%method{}\(%line\) | %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{0}.%method{}\(%line\) | %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="org.djeysx" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</included>

